﻿@model Event.Application.Features.Category.Commands.CreateCategory.CreateCategoryCommand

@{
    ViewData["Title"] = "Create";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">اضافة قسم</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="CreateCategory" asp-controller="Category">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <div>
                    <input hidden  asp-for="EventId" value="@ViewBag.EventId" class="form-control" />
                </div>                <div class="form-group">
                    <label asp-for="Name" class="control-label">الاسم بالعربية</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">الاسم بالانجليزية</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="اضافة" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="GetListCategories" asp-route-id="@ViewBag.EventId" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
